/**
 Made by Bailey Terry
 */
.button {
    -fx-background-color: #ffffff;
    -fx-background-radius: 15pt;
    -fx-font-size: 18;
    -fx-border-radius: 10pt;
    -fx-border-color: #d56673;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-border-width: 2pt;
}
