/**
 Made by Bailey Terry
 */

.root {
    -fx-background-color: radial-gradient(focus-angle 45deg, focus-distance 20%, center 50% 50%, radius 50%, reflect, #d5d5d5, #d2d2d2 75%, #cfcfcf);
}

.button {
    -fx-background-color: #ffffff;
    -fx-background-radius: 15pt;
    -fx-font-size: 18;
    -fx-border-radius: 10pt;
    -fx-border-color: #043993;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-border-width: 2pt;
}

.button:hover {
    -fx-underline: true;
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-border-width: 3pt;
}