/**
 Made by Bailey Terry
 */

.root {
    -fx-background-color: linear-gradient(#FFFFFF, #6B6B6B);
}

.button {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#e22828, #842727);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.button:hover {
    -fx-background-color: linear-gradient(#842727, #e22828);
}

.label {
    -fx-text-fill: black;
}

.jfx-text-field {
    -fx-text-fill: black;
}

.check-box{
    -fx-text-fill: black;
}
