/**
 Made by Bailey Terry
 */
.table-view{
    -fx-background-color: transparent;
}

.table-view:focused{
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: transparent;

}

.table-view .column-header-background .label{
    -fx-background-color: transparent;

}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-text-fill: white;
}

.table-row-cell{
    -fx-background-color: #616161;

}

.table-row-cell:odd{
    -fx-background-color: #616161;

}

.table-row-cell:selected {
    -fx-background-color: derive(#828282, 20%);
}


.tree-table-view{
    -fx-background-color: linear-gradient(#d2d2d2 0%, #f4f4f4 100%);
}

.tree-table-view:focused{
    -fx-background-color: linear-gradient(#d2d2d2 0%, #f4f4f4 100%);
}

.tree-table-view .column-header-background {
    -fx-background-color: transparent;
}


.tree-table-view .column-header-background .label{

    -fx-text-fill: #616161;
    -fx-font-size: 18px;

}

.tree-table-view .column-header-background{
    -fx-background-color: transparent;
    -fx-border-color: #616161;

}

.tree-table-view .table-cell{
    -fx-text-fill: transparent;
}

.tree-table-row-cell{
    -fx-background-color: #c4c4c4;
}

.tree-table-view .tree-table-cell{
    -fx-alignment: center;
}

.tree-table-row-cell:odd {
    -fx-background-color: #ececec;
}

.tree-table-row-cell:selected {
    -fx-background-color: derive(#828282, 20%);

}

.tree-table-view .column-header .arrow{
    -fx-background-color: red;
}