/**
 Made by Bailey Terry
 */

.jfx-tab-pane .tab-header-background {
    -fx-opacity: .75;
    -fx-background-color:  #f4f4f4;
}

.jfx-tab-pane .tab-selected-line {
    -fx-border-color: red;
}

.jfx-tab-pane .tab-header-area .jfx-rippler {
    -jfx-rippler-fill: red;
}

.jfx-tab-pane
{
    -fx-tab-min-width: 90px;
}

.tab{
    -fx-background-insets: 0 0 0 0,0,0;
}

.tab-pane .tab
{
    -fx-background-color: #f4f4f4;
}

.tab-pane .tab:selected
{
    -fx-background-color: #3c3c3c;
}

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #828282;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: derive(#B22222, 30%);
}

.jfx-tab-pane .scroll-bar .thumb {
    -fx-background-color: derive(#828282, 70%);
}
.jfx-tab-pane .scroll-bar .increment-button .increment-arrow {
    -fx-background-color: firebrick;

}
.jfx-tab-pane .scroll-bar .decrement-button .decrement-arrow{
    -fx-background-color: firebrick;
}

