/**
 Made by Bailey Terry
 */

.root {
    /*-fx-background-image: url("abstract.jpg");*/
    -fx-background-color: linear-gradient(#FFFFFF, #6B6B6B);
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
}

.label {
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-font-family: "Arial Narrow";
    -fx-text-fill: light black;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}

.hyperlink{
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.combo-box .list-view{
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-border-color: white;
    -fx-alignment: center;
    -fx-background-color: #424242;
}

.text-area {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.text-field{
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.check-box{
    -fx-text-fill: white;
}
